<section class="modal-application ">

    <div class="modal-application-container">
        <button type="button" class="btn-modal">
            <svg class="modal-svg">
                <use href="./images/modal/sprite.svg#icon-close-black"></use>
            </svg>
        </button>
        <h2 class="modal-application-title">Shopping cart</h2>
        <svg class="modal-application-logo">
            <use href="./images/modal/sprite.svg#icon-logo-group"></use>
        </svg>
        <div class="modal-application-name">


        </div>
        <form class="modal-number">
            <label for="" class="modal-number-food"> Name ice creme
                <input type="text" class="modal-number-name">
            </label>
            <div class="modal-enter">

                <label class="modal-enter-quantity " for="quantity">Quantity
                    <div class="modal">
                        <button class="btn-enter" type="button">+</button>
                        <input class="modal-enter-input" type="text" name="quantity" id="quantity">
                        <button class="btn-enter" type="button">-</button>
                    </div>
                </label>

                <label class="modal-enter-total" for="total">Total
                    <input class="modal-enter-count" type="text" name="total">
                </label>
            </div>
        </form>

        <div class="payment">
            <svg class="payment-svg">
                <use href="./images/modal/sprite.svg#icon-visa"></use>
            </svg>
            <svg class="payment-svg">
                <use href="./images/modal/sprite.svg#icon-mastercard"></use>
            </svg>

        </div>
        <label for="pay" class="payment-label">To pay without delivery
            <input type="text" class="payment-input" name="pay">
        </label>
        <div>
            <button type="submit" class="btn-submit">Checkout</button>
            <button type="submit" class="btn-сontinue">Сontinue shopping</button>
        </div>
    </div>


</section>